.mat-form-field-wrapper {
  width: 300px;
}
.container {
  margin: auto;
  text-align: center;
}

button:not(.eliminar) {
  margin: 2rem 1rem;
}

p {
  border: 1px dotted darkgray;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  
  margin-top: 1rem;
}

.aceptar {
  margin: 0 1rem;
}

.lista-utiles {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 50%;
  margin: auto;
  text-align: left;
}

.add{
  color: white;
}



